.delivery {
  fill: black;
  width: 54px;
  height: 54px;
}

.organized {
  fill: black;
  width: 55px;
  height: 55px;
}

.quality {
  fill: black;
  width: 55px;
  height: 55px;
}

.shopping {
  fill: black;
  width: 55px;
  height: 55px;
}