@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-Bold.ttf);
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.our-services {
  width: 100vw;
  height: 100vh;
  background-color: #70bfff;
}

.our-servicer__container {
  padding: 10vh 15vw 0vh 13.66vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-services__items {
  padding: 0;
  margin: 10vh 0;
  height: 60vh;
}

.items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items__item {
  display: flex;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.item {
  width: 26.67vw;
  height: 12.65vh;
}

.item__title-container {
  width: 80%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid #9d9d9d;
}

.item__title {
  margin: 0;
  font-family: Raleway;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #262626;
}

.item__title--delivery {
  width: 80%;
}

.item__icon-container {
  width: 20%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__icon {
  margin: 0;
  width: 3.67vw;
  height: 6.2vh;
  fill: black;
}

.our-services__photo {
  position: relative;
  width: 27.8vw;
}

.our-services__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-services__title {
  height: 67px;
  position: absolute;
  margin: auto;
  top: 0;
  left: -5.5vw;
  right: 0;
  bottom: 0;
  font-family: Raleway;
  font-size: 70px;
  font-weight: bold;
  line-height: 0.3;
  text-align: center;
  color: #ffffff;
}

/* .items__item:hover {
  background-color: rgb(215, 215, 228);
} */
