@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Light.ttf);
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.top-page {
  width: 100vw;
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 100vh;
}

.top-page__header {
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 15vh;
}

.header {
  width: 38vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header__logo {
  padding-bottom: 50px;
}

.header__title {
  height: 103px;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 8.64px;
  color: #ffffff;
  text-align: center;
}

.header__text {
  height: 70px;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.93;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-align: center;
}

.header__link {
  margin: 0 50vw;
}

.header__scroll {
  width: 23px;
  height: 37px;

}

.about-us {
  height: 55vh;
}

.about-us__container {
  width: 47vw;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.border-container {
  position: relative;
  width: 47vw;
  border: solid 1px #3c3c3c;
  background-color: #ffffff;
}

.border-container__title {
  position: absolute;
  width: 20vw;
  height: 24px;
  top: -12px;
  left: 13.5vw;
  background-color: inherit;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5.44px;
  text-transform: uppercase;
  text-align: center;
  color: #3c3c3c;
  z-index: 3;
}

.border-container__text {
  width: 66%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #3c3c3c;
}

.border-container__text--2nd-paragrath {
  padding-top: 10px;
  width: 83%;
  margin: 0 auto;
}

.services {
  width: 98.5vw;
  background-image: url(/img/services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 45vh;
}

.services__container {
  width: 47vw;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.border-container--services {
  background-color: inherit;
  border-color: #ffffff;
  border-top: none;
  background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  background-size: 13.5vw 1px, 13.5vw 1px;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}

.border-container__title--services {
  background-color: inherit;
  color: #ffffff;
  /* z-index: 2; */
}

.border-container__text--services {
  color: #ffffff;
}

.what-we-do {
  height: 132vh;
}

.what-we-do__container {
  width: 47vw;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.container-section {}

.container-section__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 35vh;
}

.container-section__logo {}

.container-section__title {
  width: 100%;
  height: 16px;
  font-family: Lato;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
}

.container-section__text {
  width: 100%;
  height: 60px;
  font-family: Lato;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.85;
  text-align: center;
  color: #3c3c3c;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 7.5px;
  grid-template-areas:
    "topworkz joint market"
    "worktop lable kyiv";
}

.grid-container__item {
  height: 11vw;
  position: relative;
}

.grid-container__item--topworkz {
  grid-area: topworkz;
  width: 28.5vw;
  background-image: url(/img/topworkz.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__item--joint {
  grid-area: joint;
  width: 41.77vw;
  background-image: url(/img/joint.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__item--market {
  grid-area: market;
  width: 28.5vw;
  background-image: url(/img/market.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__item--worktop {
  grid-area: worktop;
  width: 28.5vw;
  background-image: url(/img/worktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__item--lable {
  grid-area: lable;
  width: 41.77vw;
  background-image: url(/img/lable.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__item--kyiv {
  grid-area: kyiv;
  width: 28.5vw;
  background-image: url(/img/kyiv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.grid-container__title {
  position: absolute;
  bottom: 17.72%;
  left: 8.9%;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5.44px;
  color: #ffffff;
}

.contact-us {
  height: 50vh;
}

.contact-us__container {
  width: 47vw;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.border-container__button {
  margin: 10px auto 20px;
  height: 44px;
  width: 70%;
}

.button {
  position: relative;
  width: 100%;
  height: 44px;
  border: solid 2px #3c3c3c;
  background-color: #3c3c3c;
}

.button__text {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 11px;
  font-family: Lato;
  font-size: 10px;
  letter-spacing: 2.56px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.copyright {
  width: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright__logo {
  width: 20px;
  height: 27px;
}

.copyright__text {
  width: 245px;
  height: 18px;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #3c3c3c;
}

.header__scroll:hover {
  padding-top: 10px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #ffffff;

}

.button:hover .button__text {
  color: black;
}