.about-us {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: radial-gradient(circle at 0 0,
      #00c4c4,
      #00b7b7,
      #00adad,
      #009c9c),
    linear-gradient(to bottom, #00c4c4, #00c4c4);

  &__description {
    max-width: 499px;
    margin-top: 110px;
  }

  &__text {
    margin-top: 24px;
  }

}

.description__title--about-us {
  font-size: 85px;
  font-weight: bold;
  color: #ffffff;
}

.text-description--about-us {
  font-size: 16px;
  color: #ffffff;
}