@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}