ol {
  display: none;
  width: 200px;
  margin: 10px auto;
}

.instructions ul {
  margin: 0;
}

.openedList, .instructions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px auto 20px;
}

.mystyle {
  display: block;
  /* width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box; */
}

.breed-info {
  margin: 0 auto;
  border: 1px solid black;
  width: 300px;
  height: 200px;
  padding: 10px;
}

.dog_list {
  
  margin: 0 auto;
}