@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.ttf");
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.first-container {
  max-height: 1087px;
  background: url(../img/img1.png) no-repeat center;
  background-size: cover;
  padding: 50px 165px 130px;
}

.first-container__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 160px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 30px;
}

.item_menu {
  font-family: Raleway;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.56;
  text-align: right;
  color: #262626;
}

.item_menu--apperlined {
  border-top: 3px solid #ff6033;
  margin-top: -3px;
}

.first-container__description {
  padding-bottom: 295px;
}

.description__title {
  font-family: Raleway;
  font-size: 60px;
  font-weight: 900;
  line-height: 0.8;
  text-align: left;
  color: #262626;
}

.description__container-text {
  padding-top: 34px;
  padding-bottom: 31px;
  width: 385px;
}

.text-description {
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.59;
  text-align: left;
  color: #262626;
}

.description__button-container {
  position: relative;
  width: 150px;
  height: 55px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
}

.description__button-text {
  width: 120px;
  height: 15px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 0.75;
  color: #ffffff;
}

.first-container__icon {
  width: 24px;
  height: 40px;
  margin: 0px auto;
}

.second-container {
  max-height: 700px;
  margin-top: -78px;
  padding: 80px 120px 70px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: radial-gradient(
      circle at 0 0,
      #00c4c4,
      #00b7b7,
      #00adad,
      #009c9c
    ),
    linear-gradient(to bottom, #00c4c4, #00c4c4);
}

.second-container__description {
  max-width: 499px;
  margin-top: 110px;
}

.description__title--second_container {
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
}

.second-container__text {
  margin-top: 24px;
}

.text-description--second_container {
  font-size: 16px;
  color: #ffffff;
}
