* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  margin: 5px auto 5px;
}

.photo {
  display: block;
  margin: 5px auto;
  width: 400px;
  height: auto;
  padding: 10px;
}

.photoDog {
  margin: 20px auto;
  height: 250px;
  padding: 10px;
}

.photo-cat {
  width: auto;
  height: 200px;
}

