@font-face {
  font-family: HansKendrick;
  src: url(../fonts/HansKendrick-Regular.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.design {
  height: 1600px;
  background-color: #e2e7ec;
}

.design__container {
  background-color: #e2e7ec;
  height: 1120px;
  width: 1120px;
  margin: 91px auto 69px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.design__container {
  height: 1120px;
  width: 1120px;
  /* padding: 5.3vw; */
  display: grid;
  grid-template-columns: 360px 360px 360px;
  grid-template-rows: 540px 540px;
  grid-gap: 20px;
  grid-template-areas:
    "design__top-picture design__top-picture design__column--1"
    "design__column--2 design__column--3 design__column--4";
}

.design__column--1 {
  grid-area: design__column--1;
}

.design__column--2 {
  grid-area: design__column--2;
}

.design__column--3 {
  grid-area: design__column--3;
}

.design__column--4 {
  grid-area: design__column--4;
}

.design__top-picture {
  position: relative;
  grid-area: design__top-picture;
  width: 740px;
  height: 540px;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-image: url(/img/car.png);
}

.design__picture-gradient {
  position: absolute;
  bottom: 0;
  width: 740px;
  height: 540px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), #000000);
}

.design__article-container {
  position: absolute;
  width: 740px;
  height: 136px;
  bottom: 0;
  z-index: 1;
  padding-bottom: 40px;
  padding-left: 43px;
}

.article__date {
  text-transform: uppercase;
  opacity: 0.5;
  font-family: HansKendrick;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 0.33px;
  text-align: left;
  color: #ffffff;
}

.article__title {
  width: 433px;
  height: 60px;
  font-family: HansKendrick;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.75px;
  text-align: left;
  color: #ffffff;
}

.design__column {
  width: 360px;
  height: 540px;
  background-color: #ffffff;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding-left: 27px;
}

.article__container {
  padding: 28px 26px 70px 0px;
}

.article__date--grey {
  color: #818181;
}

.article__title--little-black {
  width: 275px;
  height: 78px;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.55px;
  color: #1d1d1d;
}

.design__loading {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.article__date--loading {
  padding-top: 10px;
}