* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  background-color: #b07cf7;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #ffffff;
  padding-bottom: 100px;
}

.title {
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 90px;
  font-weight: 700;
  line-height: 0.28;
  height: 200px;
}

.title-text {
  margin: 0 auto;
  padding-bottom: 47px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.47;
}

.photo-container {
  margin: 0 auto 50px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  position: relative;
  width: 31.62%;
  height: 312px;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.photo-smoothie {
  background-image: url(/img/1.png);
}

.photo-soup {
  background-image: url(/img/2.png);
  background-position-x: 0px;
  background-position-y: -160px;
}

.photo-berries {
  background-image: url(/img/3.png);
  background-position-x: -60px;
  background-position-y: 0px;
}

.photo-gradient {
  position: absolute;
  /* top: 150px; */
  bottom: 0px;
  width: 100%;
  height: 151px;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  background-image: linear-gradient(to top, #000000, #ffffff);
}

.photo-gradient .photo-text,
.photo-text {
  position: absolute;
  /* top: 20px;*/
  bottom: 0px;
  z-index: 3;
  /* border: 2px solid #f72b3b; */
  width: 372px;
  height: 98px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #ffffff;
  padding: 0px 0px 0px 20px;
}

.photo-update {
  position: absolute;
  /* padding-top: 12px; */
  font-size: 13px;
  font-weight: 300;
  /* border: 2px solid #2a2274; */
  bottom: 10px;
}

.date_square {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  border-radius: 5px;
  background-color: #262626;
  /* z-index: 15; */
}

.date {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  opacity: 1;
  border-radius: 5px;
}

.number {
  width: 34px;
  height: 19px;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.78;
  text-align: left;
  color: #ffffff;
}

.month {
  width: 44px;
  height: 15px;
  font-size: 21px;
  font-weight: 900;
  line-height: 1.19;
  text-align: left;
  color: #ffffff;
}

.button {
  position: relative;
  width: 13.33%;
  height: 55px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #f72b3b;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.button:hover {
  transform: scale(1.5, 1.5);
  transition: all 0.5s ease-in;
}

.photo-smoothie:hover {
  transform: translateX(-25px);
  transition: all 0.2s ease-in;
}

.photo-soup:hover {
  transform: translateY(25px);
  transition: all 0.2s ease-in;
}

.photo-berries:hover {
  transform: translateX(25px);
  transition: all 0.2s ease-in;
}
