* {
    transition: all 0.1s ease-in;
    box-sizing: border-box;
}

.container {
    width: 1500px;
    height: 914px;
    background-color: #b07cf7;
    margin: auto;
    position: relative;
}

/* I don't know if it's a good idea to give height, but I couldn't find better way to do the background under the bottom */

.header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 47px;
}

.header__title {
    margin: 0px 655px;
    width: 190px;
    height: 86px;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 900;
    color: #ffffff;
    line-height: 0.9;
}

.header__text {
    width: 563px;
    height: 66px;
    margin-left: 469px;
    margin-top: 30px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin-left: 165px;

}

.content__menu__img {
    border: 6px solid #686868;
}

.content__menu {
    position: relative;
}

.img__icon1 {
    position: absolute;
    top: 365px;
    left: 200px;
}

.img__icon2 {
    position: absolute;
    top: 365px;
    left: 600px;
}

.img__icon3 {
    position: absolute;
    top: 365px;
    left: 1000px;
}

.content__menu__img+.content__menu__img {
    margin-left: 30px;
}

.content__menu__img:hover {
    border: 8px solid #262626;
    opacity: 0.7;
}

/* With 3 next selectors I tried to add text to images, but I didn't find out how to put each nessesary text to it's own img, all my texts were at the first img or I need to give spesial name to each img and to rewrite part of css. Mayby there is an easier way? */
.content__menu__img {
    position: relative;
}

.content__text {
    position: absolute;
    top: 190px;
    left: 20px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    width: 307px;
    height: 78px;
    text-align: left;
    color: #ffffff;
}

.content__text span {
    bottom: 5px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

.content__bottom {
    margin-top: 50px;
    margin-left: 650px;
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.9;
    text-align: center;
    color: #ffffff;
}