* {
    transition: all 0.1s ease-in;
    box-sizing: border-box;
}

.container {
    width: 1500px;
    height: 864px;
    background-color: #b07cf7;
    margin: auto;
}

.header {
    text-align: center;
}

/* this blok with class 'header' was made as the main blok which I can take in some other place in the page if it will be nessesory. That's why it has only text-align (not paddings or margins). But my blok doesn't work.
 */
.header-container {
    padding-top: 100px;
    margin-bottom: 47px;
}

.header__title {
    margin: 0px 655px;
    width: 190px;
    height: 86px;
    font-family: Raleway;
    font-size: 90px;
    font-weight: 900;
    color: #ffffff;
    line-height: 0.9;
}

.header__text {
    width: 563px;
    height: 66px;
    margin-left: 469px;
    margin-top: 30px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.card {
    max-width: 1500px;
}

.card-wrapper {
    position: relative;
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    margin-right: 165px;
}

.card__img img {
    max-width: 370px;
    max-height: 310px;
}

.card__data {
    position: absolute;
    top: 40px;
    left: 35px;
}

.card__text {
    position: absolute;
    top: 210px;
    left: 30px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    width: 307px;
    height: 78px;
    text-align: left;
    color: #ffffff;
}

.card__text span {
    font-family: Ralewa;
    font-size: 15px;
    font-weight: 300px;
    padding-top: 0;
    padding-bottom: 15px;
}

.button {
    width: 200px;
    height: 55px;
}

.button__container {
    margin-top: 50px;
    margin-left: 650px;
    background-color: #f72b3b;
}

.button__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    line-height: 2.9;
    text-align: center;
    color: #ffffff;
}