<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 16
        link(rel="stylesheet", href="css/style.css")    
    body
        header.header
            p THE GENIUSES BEHIND OUR WORK
            h1.team OUR TEAM
            .header__line
                img(src="images/line.svg", alt="#")
                img.fire(src="images/bonfire_icon.png", alt="#")
                img(src="images/line.svg", alt="#")
        main.main
            .photo__border
                .photo__main
                    img(src="images/photo1.svg", alt="")
            .line
            .about
                .about__name Sahariar Kabir
                .about__line
                    .about__line--line
                .about__position Frontend Developer
                .about__account
                    ul.accout-icon
                        li
                            a(href="https://www.google.com/")
                                img.accout-icons(src="images/facebook.png", alt="")
                        li
                            a(href="https://www.google.com/")
                                img.accout-icons(src="images/twitter.png", alt="")
                        li
                            a(href="https://www.google.com/")
                                img.accout-icons(src="images/google.png", alt="")
                        li
                            a(href="https://www.google.com/")
                                img.accout-icons(src="images/in.png", alt="")
                .about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
                .about__dotted-line
                    div.about__dotted-line--one
                    div.about__dotted-line--two
                    div.about__dotted-line--one
                a(href="https://www.google.com/").about__profile VIEW PROFILE
