@font-face {
    font-family: 'Raleway-Light';
    src: url(/fonts/Raleway-Light.woff2) format('woff2'),
        url(/fonts/Raleway-Light.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(/fonts/Raleway-Bold.woff2) format('woff2'),
        url(/fonts/Raleway-Bold.woff) format('woff');
    font-style: normal;
    font-display: swap;
}