
.icon-basket:before { content: '\e800'; } /* '' */
.icon-tree:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */