*{
    box-sizing: border-box;
}

.main{
    width: 1500px;
  height: 790px;
  background-color: #70bfff;
  display: flex;
  /* justify-content: space-between; */
}

.button{
    margin-top: 179px;
    margin-left: 265px;
width: 400px;
height: 460px;
}

/* .button-online{
    display: flex;
} */

.button-online{
    background-color: #ffffff;
    width: 400px;
height: 100px;

display: flex;
justify-content: space-around;
/* padding-top: 179px; */
}

.button-product{
    background-color: #ffffff;
    width: 400px;
height: 100px;

display: flex;
justify-content: space-around;
margin-top: 20px;
}

.button-domestic{
    background-color: #ffffff;
    width: 400px;
height: 100px;

display: flex;
justify-content: space-around;
margin-top: 20px;
}

.button-organized{
    background-color: #ffffff;
    width: 400px;
height: 100px;

display: flex;
justify-content: space-around;
margin-top: 20px;
}

.button-online__text{
    /* width: 157px;
  height: 19px; */
  /* font-family: Raleway; */
  /* font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: right;
  color: #262626;
  padding-top: 15px; */
  border-right: 10px gray;
}

a{
    color: #000 !important;
    text-decoration: none;
}

.icon-basket{
    width: 99px;
}



/* .button-online__text{
    display: flex;
} */

/* .button-online__text{
    max-width: 300px;
} */

/* .button-online__img{
    max-width: 98px;
    max-height: 50px;
} */

/* .button-online__img{
    background-image: url(../images/icon.svg);
} */