@font-face{
    font-family: Hans;
    src: url(../font/HansKendrick-Regular.otf);
}
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    min-height: 100vh;
    padding: 90px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E2E7EC;
}
.content{
    flex: 1 1 90%;
    display: flex;
    margin-bottom: 60px;
}
.container{
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px -10px;
}
.content__column{
    flex: 1 1 33.33%;
    padding: 10px 10px;
}
.content__column--big{
    flex: 1 1 66.66%;
}
.content__item{
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content__item--big{
    background: url(../img/car-dark.jpg) center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content__item--no-user .content__foto{
    margin-bottom: 37px;
}
.content__foto{
    width: 100%;
    height: 251px;
}
.content__foto img{
    width: 100%;
    height: 100%;
}
.content__text{
    padding: 25px 25px;
}
.content__title{
    font-size: 13px;
    color: #818181;
    text-transform: uppercase;
    font-family: Hans, serif;
    font-weight: 100;
    margin-bottom: 20px;
}
.content__subtitle{
    font-size: 22px;
    text-transform: uppercase;
    color: #1D1D1D;
    max-width: 300px;
    font-weight: 900;
    font-family: Hans, serif;
    margin-bottom: 70px;
}
.content__item--big .content__text{
    padding: 40px;
}
.content__item--big .content__title{
    color: #FFFFFF;
    opacity: 0.5019607843137255;
}
.content__item--big .content__subtitle{
    font-size: 30px;
    color: #FFFFFF;
    max-width: 433px;
    margin-bottom: 0;
}
.preloader{
    display: flex;
    align-items: center;
}
.preloader__icon{
    padding-right: 15px;
}
.preloader__title{
    font-size: 13px;
    color: #99A5B0;
    text-transform: uppercase;
    font-family: Hans, serif;
}


