@font-face {
    font-family: 'Raleway-Medium';
    src: url(/fonts/Raleway-Medium.woff2) format('woff2'),
        url(/fonts/Raleway-Medium.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url(/fonts/Raleway-Regular.woff2) format('woff2'),
        url(/fonts/Raleway-Regular.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(/fonts/Roboto-Black.woff2) format('woff2'),
        url(/fonts/Roboto-Black.woff) format('woff');
    font-style: normal;
    font-display: swap;
}