* {
    box-sizing: border-box;
}

$top-color: #ffcc00;
$text-color: #666666;

li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 242px;
    text-align: center;
    padding-top: 112px;
}

.team {
    color: $top-color;
}

.fire {
    width: 18px;
    height: 18px;
}

.main {
    display: flex;
    padding-top: 100px;
    width: 100%;
    justify-content: space-around;
}

.photo__border {
    max-width: 432px;
    max-height: 432px;
    // border: 1px solid $top-color;
    background-image: linear-gradient(
            to right,
            $top-color 100px,
            transparent 100px,
            transparent 380px,
            $top-color 380px
        ),
        linear-gradient(to right, $top-color 100px, transparent 100px, transparent 380px, $top-color 380px),
        linear-gradient(to bottom, $top-color 100px, transparent 100px, transparent 380px, $top-color 380px),
        linear-gradient(to bottom, $top-color 100px, transparent 100px, transparent 380px, $top-color 380px);
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 37px;

    // &__main {
    //     border: 1px solid $top-color;
    //     // padding-top: 381px;
    //     max-width: 400px;
    //     max-height: 390px;
    //     margin: 20px;
    // }
}

.photo__main {
    border: 1px solid $top-color;
    // padding-top: 381px;
    max-width: 400px;
    max-height: 390px;
    margin: 20px;
    margin-top: 20px;
}

.line {
    width: 1px;
    height: 561px;
    background-color: $top-color;
    padding-top: -50px;
}

.about__text {
    max-width: 416px;
    max-height: 109px;
}

.about {
    max-width: 416px;
    text-align: center;
}

.about__name {
    font-size: 28px;
    color: $text-color;
    padding-bottom: 33px;
}

.about__line {
    // background-color: $top-color;
    max-width: 416px;
    // height: 1px;
}

.about__line--line {
    background-color: $top-color;
    height: 1px;
    width: 101px;
    margin-left: 150px;
}

.about__position {
    font-size: 23px;
    color: $text-color;
    padding-top: 33px;
}

.accout-icon {
    display: flex;
    justify-content: center;
}

.accout-icons {
    width: 31px;
    height: 31px;
    opacity: 50%;
}

.about__text {
    padding-top: 32px;
    color: $text-color;
}

.about__dotted-line {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.about__dotted-line--one {
    background-color: $top-color;
    width: 11px;
    height: 5px;
}

.about__dotted-line--two {
    background-color: $top-color;
    width: 21px;
    height: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.about__profile {
    width: 121px;
    height: 25px;
    border: 1px $top-color solid;
    text-decoration: none;
    color: $text-color;
}
